<% layout("/layouts/boilerplate")%>
    <h2>Edit Listings: </h2>
    <form method="POST" action="/listings/<%=listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div>
            <label for="title" class="form-label" >Title:</label>
            <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required>
            <div class="valid-feedback">Title looks good !</div>
        </div>
        <div>
            <label for="description" class="form-label" >Description:</label>
            <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
        </div>
        <div>
            <label for="image" class="form-label" >Upload New Image:</label>
            <input name="listing[image]"  type="file" class="form-control" >
            
        </div>
        <div>
            <label for="price" class="form-label" >Price:</label>
            
            <input name="listing[price]" class="form-control" required value="<%= listing.price %>"/>
            <div class="Invalid-feedback">enter valid price!</div>
        </div>
        <div>
            <label for="location" class="form-label" >Location:</label>
            <input name="listing[location]" class="form-control" value="<%= listing.location %>">
        </div>
        <div>
            <label for="country" class="form-label" >Country:</label>
            <input name="listing[country]" class="form-control" required value="<%= listing.country %>">
            <div class="Invalid-feedback">enter valid location!</div>
        </div>
        <br>
        <button class="btn btn-dark add-btn">Edit</button>
        

        

       
     
        
       
   
        
       
        
       
    </form>
    <script src="/js/scripts.js"></script>
