<% layout("layouts/boilerplate")%>

<div class="row">
    <div class="col-8 offset-2">
    <h3><%=listing.title%></h3>
</div>
    <div class="card col-6 offset-3 show-card listing-card">
        <img src="<%=listing.image%>" class="card-img-top show-img" alt="listing-image">
        <div class="card-body">
          <p class="card-text"></p>
          <br><br>
          <li> <%= listing.description %> </li> <br><br>
          <li>&#x20B9;<%= listing.price.toLocaleString("en-IN")%> </li> <br><br>
          <li> <%= listing.location %> </li> <br><br>
          <li> <%= listing.country %> </li>
        </div>
      </div>
    </div>
    
   


    
</div>  
<div class="btns">
    <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-2 add-btn">Edit</a>

    <form method="POST" action="/listings/<%= listing.id %>?_method=DELETE" class="btn btn-dark offset col-2 add-btn " style="margin-left:2rem"><button>Delete</button></form>
</div>
<hr>
<div class="col-8 offset-3 mb-3">
  <hr>
  <h4 >Leave a Review</h4>
  <form action="/listings/<%=listing.id%>/reviews" method="POST" novalidate class="needs-validation">
    <div class="mb-3 mt-3">
      <label for="rating" class="form-label">Rating</label>
      <input type="range"class="form-range" min="1" max="5" name="review[rating]" id="rating">
    </div>
    <div>
      <label for="comment" class="form-label">Comment</label>
      <textarea  cols="27" rows="5" name="review[comment]" id="comment" class="form-control" required></textarea>
      <div class="invalid-feedback">Please add some comment for review</div>

    </div>
    <button class="btn btn-outline-dark mt-2">Submit</button>
  </form>
  <hr> 
  <h4>All Reviews</h4>
<div class="row">
  <% for (review of listing.reviews){%>

    <div class="card col-5 mb-3 ms-3">
      <div class="card-body">
        <h5 class="card-title">Shailendra Pratap </h5>
        <p class="card-text"><%=review.comment%></p>
        <p class="card-text"><%=review.rating%></p>
        <form class="mb-3" method="POST" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE">
          <button class="btn btn-sm btn-dark">Delete</button>
        </form>
      </div>
      
    </div>
    
  <%}%>

</div>

</div>
    

